<div class="title">
    <h4>Shopping Cart</h4>
</div>
<div class="itemContainer">
<section class="itemCard" ng-repeat="cart in $ctrl.cartItems track by $index">
    <p>ID: {{cart.id}}</p>
    <p>Product: {{cart.product}}</p>
    <p>Price: $ {{cart.price}}</p>
    <p>Quantity: {{cart.quantity}}</p>
    <form ng-submit="$ctrl.addItem(item)">
    <input type="text" ng-model="item.quantity" placeholder="Quantity">
    <button>Add Item</button>
</form>
<button ng-click="$ctrl.deleteItem(cart.id)">X</button>
</section>
</div>